@{
    ViewBag.Title = "More About TeDaLs";
}
<ul class="breadcrumb">
    You are here:

    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Description", "About", "Home")</li>
</ul>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>More about tedals</p>
