@{
    ViewBag.Title = "Calculation";
}
<ul class="breadcrumb">
    You are here: 
   
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Calculation", "Calculation", "Home")</li>
   
</ul>
<h2>Calculation</h2>
<div class="col-md-3">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("View Calculations", "", "")</li>
        <li>@Html.ActionLink("Add Calculations", "", "")</li>
    </ul>
</div>
<p>Calculations here </p>
