@{
    ViewBag.Title = "Import SAP Characteristics";
}
<div class="breadcrumb">
    You are here: 
    
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Import SAP Characteristics", "ImportSAP", "Home")</li>
    
</div>
<h2>Import SAP Characteristics</h2>

<p>SAP Chara </p>
