@{
    ViewBag.Title = "Home Page";
}
<ul class="breadcrumb">
    You are here:

    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</ul>

<div class="jumbotron">
    <h1 style="font-size:72px">TeDaLS</h1>
    <p class="lead">Technical Database for Linear Systems (TeDaLS) has all relevant data for selection, calculation and engineering of linear systems (single axis)</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
