@{
    ViewBag.Title = "Revision History";
}
<ul class="breadcrumb">
    You are here: 
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Revision History", "RevisionHistory", "Home")</li>
</ul>
<h2>RevisionHistory</h2>
<p>Revision history</p>
