@{
    ViewBag.Title = "System Family";
}
<ul class="breadcrumb">
    You are here: 
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("System Family", "SystemFamily", "Home")</li>

</ul>
<h2>System Family</h2>

@*<p>System family page </p>*@

@*<div class="navbar-collapse collapse">*@
<div class="col-md-3">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("View Existing System Families", "", "")</li>
        <li>@Html.ActionLink("Add New System Family", "", "")</li>
    </ul>
</div>
